:root {

    --hue: 0;
    --top-accent: 25%, 14%;
    --dark-accent: 25% 14%;
    --back-accent: 100%, 93%;
    --symbol-accent: 82%, 35%;
    --text-color: black;
    --cell-color: white;
    --cell-size: 35px;
    --cell-margin: 2.5px;
    --display-cell-index: none;
    --warning-color: rgb(255, 205, 0);
    --shadow-positions: 0 0;
    --shadow-color: rgba(0, 0, 0, 0.5);
    --highlight-brightness: 0.6;

}

select {
    cursor: pointer;
    padding: 6px;
    outline: none;
    transition: outline 60ms ease-in-out;
}

div, main {
    transition: background-color 300ms linear;
}

body {
    overflow-x: hidden;
    background-color: hsl(var(--hue), var(--back-accent));
    text-align: center;
    font-family: 'Exo 2', Arial;
    overscroll-behavior: contain;
    color: var(--text-color);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    overflow-y: hidden;
    transition: transform 200ms ease-in-out;
}

input {
    font-family: inherit;
    color: inherit;
}

button .text, #time-left-text {
    padding: 0 5px;
}

button {
    color: hsl(var(--hue), var(--back-accent));
    padding: 10px 14px;
    margin: 10px 16px;
    cursor: pointer;
    font-family: inherit;
    font-size: 17px;
    font-weight: 600;
    background-color: hsl(var(--hue), var(--top-accent));
    border-radius: 9px;
    border: none;
    text-transform: uppercase;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    box-shadow: var(--shadow-positions) 6px var(--shadow-color);
    transition: transform 60ms ease-in-out, outline 60ms ease-in-out;
}

button:hover,
input[type=checkbox]:hover {
    filter: brightness(0.8);
}

main {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--hue), var(--back-accent));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

select:active,
button:active,
input[type=checkbox]:active {
    outline: 3px solid var(--text-color);
    outline-offset: 2px;
}

button .icon {
    margin-right: 5px;
}

a {
    color: hsl(var(--hue), var(--top-accent));
}

hr {
    opacity: 0.7;
    margin: 5px 0;
    border: none;
    height: 3px;
    background-color: var(--text-color);
}

input[type=checkbox] {
    cursor: pointer;
    border-radius: 9px;
    width: 25px;
    height: 25px;
    transition: outline 60ms ease-in-out;
}

input[type=range]:hover {
    cursor: grab;
}

input[type=range]:active {
    cursor: grabbing;
}

input[type=number], input[type=text] {
    height: 24px;
    border: none;
    outline: none;
    border-bottom: 3px solid var(--text-color);
    background-color: var(--cell-color);
}

.not-allowed {
    cursor: not-allowed;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
    user-select: none;
}

[id^=row] {
    display: flex;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    cursor: pointer;
    position: relative;
    flex-shrink: 0;
    width: var(--cell-size);
    height: var(--cell-size);
    margin: var(--cell-margin);
    background-color: var(--cell-color);
    -webkit-tap-highlight-color: hsla(var(--hue), var(--symbol-accent), 20%);
    transition: background-color 100ms linear, filter 100ms linear;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
}

.cell:hover, .cell:focus {
    background-color: hsl(var(--hue), var(--back-accent));
    filter: brightness(1.2);
}

.cell:active, .expand .head:active {
    outline: none;
}

.cell-index {
    color: var(--text-color);
    border-radius: 0;
    margin: 0;
    user-select: none;
    position: absolute;
    display: var(--display-cell-index);
    font-size: 10px;
}

.expand {
    display: flex;
    flex-direction: column;
}

.expand .head {
	text-transform: none;
    margin: 0;
    color: var(--text-color);
    padding: 10px 5px;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    user-select: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: left;
}

.expand .head:hover {
    filter: brightness(0.8);
}

.expand .head .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.expand .head .title {
    margin: 0;
    padding: 0 8px;
    width: 100%;
    text-align: left;
}

.expand .head .caret {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding: 10px;
}

.expand .head .caret .svg {
    transition: transform 200ms ease-in-out;
}

.expand .animator, .player-animator {
    height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, height 200ms ease-in-out;
}

.player-animator {
    opacity: 0;
}

.option-toggle-wrapper {
    display: flex;
    align-items: center;
    padding: 15px 20px 15px 30px;
}

.option-toggle-title {
    padding-right: 10px;
}

.option-toggle-toggle {
    vertical-align: middle;
    flex-shrink: 0;
    width: 45px;
}

.range-option,
.check-option {
    padding: 14px 0 12px 0;
    display: flex;
    align-items: center;
    justify-content: left;
}

.range-option .icon,
.check-option .icon,
.statistic .icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-shrink: 0;
}

.range-option .icon .color-preview {
    width: 40px;
    height: 40px;
    border-radius: 9px;
    background-color: black;
}

.range-option .value {
    padding: 0 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.check-option .value {
    padding: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.range-option .value .title {
    text-align: left;
    padding-bottom: 8px;
}

.check-option .value .title {
    padding-right: 8px;
    text-align: left;
    width: 100%;
}

.statistic .value .title {
    padding-bottom: 6px;
}

.range-option .value .input {
    width: 100%;
    display: flex;
    align-items: center;
}

.check-option .value .input {
    flex-shrink: 0;
}

.statistic .value .input {
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: bold;
}

.range-option .value .input .range {
    width: 100%;
}

.range-option .value .input .number {
    margin-left: 15px;
    flex-shrink: 0;
    width: 44px;
    text-align: left;
}

.descriptor {
    font-style: italic;
    font-size: 14px;
    text-align: left;
    padding: 12px;
}

.bottom-descriptor {
    font-style: italic;
    font-size: 12px;
    margin-top: -7px;
    text-align: left;
    padding: 0 10px 10px 10px;
}

.warning {
    border: 3px solid var(--warning-color);
    padding: 6px;
    margin: 0 8px 8px 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    max-width: 400px;
}

.warning .icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    flex-shrink: 0;
}

.warning .text {
    font-size: 13px;
    color: var(--warning-color);
}

.player {
    border: 3px solid;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    padding: 14px;
    margin: 15px 10px 0 10px;
}

.player .symbol-name {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.player .symbol-name .symbol-button {
    margin: 10px 12px;
    border-radius: 0;
    flex-shrink: 0;
    padding: 15px;
    border: 6px solid;
    background-color: var(--cell-color);
    padding: 5px;
}

.player .symbol-name .symbol-button:hover {
    filter: none;
}

.player .symbol-name .symbol-button:active {
    outline: none;
}

.player .symbol-name .player-name-input {
    height: 35px;
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin-right: 12px;
}

.player .button-options {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.player .button-options button {
    padding: 10px;
    margin: 10px;
}

.player-configuration {
    display: none;
}

#pause-game-container {
    width: fit-content;
    display: none;
    transform: translateY(calc(-100% - 6px));
    top: 0;
    right: 0;
    margin: auto;
    border-color: hsl(var(--hue), var(--top-accent));
    border-style: solid;
    border-width: 0 0 3px 3px;
    border-radius: 0 0 0 9px;
    background-color: hsl(var(--hue), var(--back-accent));
    z-index: 3;
    position: fixed;
    box-shadow: var(--shadow-positions) 6px var(--shadow-color);
    transition: border-radious 200ms ease-in-out, border-width 200ms ease-in-out, transform 200ms ease-in-out;
}

#configure-player {
    display: none;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 425px;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    z-index: 8;
    border-radius: 9px;
    position: fixed;
    box-shadow: var(--shadow-positions) 6px var(--shadow-color);
    overflow: hidden;
    transform: translateY(calc(-100% - 100px));
    transition: transform 300ms cubic-bezier(.5,1.25,.55,1.05);
    border: 3px solid;
}

#player-configurations {
    padding: 14px;
    height: calc(100% - 132px);
    overflow-y: auto;
    overflow-x: hidden;
}

#close-player-configuration-button {
    position: absolute;
    width: fit-content;
    left: 0;
    right: 0;
    bottom: 23px;
    margin: auto;
}

#game-paused {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: fit-content;
    width: fit-content;
    transition: opacity 200ms linear;
}

#game-paused h2.text {
	font-size: 42px;
    margin: 35px 15px 20px 15px;
}

#time-left {
    position: relative;
    font-size: 22px;
    margin: auto;
    margin-bottom: 24px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--text-color);
    border-radius: 9px;
    padding: 14px;
}

#time-left .label {
    padding: 5px;
    top: 0;
    margin-top: -16px;
    font-size: 14px;
    position: absolute;
    background-color: hsl(var(--hue), var(--back-accent));
}

#tab-skip-grid {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    padding: 10px;
    background-color: hsl(var(--hue), var(--back-accent));
    border-radius: 0 0 9px 0;
    box-shadow: var(--shadow-positions) 6px var(--shadow-color);
    transform: translateY(-120%);
}

#tab-skip-grid:focus {
    transform: translate(0);
}

#players {
    margin-bottom: 10px;
}

#infobar-placeholder {
    flex-shrink: 0;
    width: 100%;
    height: 65px;
}

#infobar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 65px;
    background-color: hsl(var(--hue), var(--back-accent));
    border-top: 3px solid hsl(var(--hue), var(--top-accent));
    box-shadow: var(--shadow-positions) 6px var(--shadow-color);
    z-index: 3;
}

#play-grid {
    background-color: hsl(var(--hue), var(--top-accent));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: calc(var(--cell-margin) * 1);
    margin: 0;
    transition: transform 200ms ease-in-out, opacity 500ms ease-in-out, background-color 300ms linear;
}

#dimmer, #top-dimmer {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsl(var(--hue), var(--dark-accent), 0.7);
    opacity: 0;
    transition: opacity 300ms linear;
}

#dimmer {
    z-index: 1;
}

#top-dimmer {
    z-index: 6;
}

#menu {
    border-color: hsl(var(--hue), var(--top-accent));
    border-style: solid;
    border-width: 0 3px 0 0;
    padding: 0 10px;
    overflow-y: auto;
    z-index: 2;
    background-color: hsl(var(--hue), var(--back-accent));
    position: fixed;
    height: calc(100% + 9px);
    margin: auto;
    transition: transform 250ms ease-in-out, background-color 200ms ease-in-out;
    box-shadow: var(--shadow-positions) 6px var(--shadow-color);
}

#left-main-button, #right-main-button {
    box-shadow: none;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 0;
    height: 65px;
    width: 65px;
    transform: scale(1.01);
    padding: 0;
}

#left-main-button {
    left: 0;
}

#right-main-button {
    right: 0;
}

#splashscreen {
    position: fixed;
    z-index: 5;
    background-color: hsl(0, 21%, 12%);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: back 1.2s ease-in-out infinite;
    flex-direction: column;
    transition: opacity 250ms linear;
}

#splashscreen-cross, #splashscreen-circle {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

#toast {
    z-index: 4;
    border: 3px solid hsl(var(--hue), var(--top-accent));
    cursor: pointer;
    width: fit-content;
    border-radius: 9px;
    box-shadow: var(--shadow-positions) 6px var(--shadow-color);
    background-color: hsl(var(--hue), var(--back-accent));;
    position: fixed;
    top: 25px;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 85%;
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 120ms linear, transform 150ms ease-in-out;
}

#toast #toast-icon {
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: center;
}

#toast #toast-text {
    display: flex;
    padding: 10px 12px 10px 0;
    align-items: center;
    justify-content: center;
}

#warnings-wrapper {
    opacity: 0;
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(60%);
}

#warnings {
    width: 100%;
    background-color: hsl(0, 0%, 12%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

#main-banner {
    transition: transform 200ms ease-in-out;
    text-transform: uppercase;
    font-size: 26px;
    max-width: calc(100% - 130px);
    padding: 5px 5px;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
 
::-webkit-scrollbar-thumb {
    background-color: var(--text-color); 
    border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: grey;
}

@keyframes pulse {
    0% {
        filter: brightness(1.0);
    }

    50% {
        filter: brightness(var(--highlight-brightness));
    }

    100% {
        filter: brightness(1.0);
    }
}

@keyframes cross {
    
    0% {
        transform: translateY(0) scale(1.5);
        opacity: 1;
    }

    20% {
        transform: translateY(150px);
        opacity: 0;
    }

    50% {
        transform: translateY(-150px);
        opacity: 0;
    }

    70% {
        transform: translateY(0) scale(1.5);
        opacity: 1;
    }

    100% {
        transform: translateY(0) scale(1.5);
        opacity: 1;
    }

}

@keyframes circle {
    
    0% {
        transform: translateY(-150px);
        opacity: 0;
    }

    20% {
        transform: translateY(0) scale(1.5);
        opacity: 1;
    }

    50% {
        transform: translateY(0) scale(1.5);
        opacity: 1;
    }

    70% {
        transform: translateY(150px);
        opacity: 0;
    }

    100% {
        transform: translateY(-150px);
        opacity: 0;
    }

}

@keyframes back {

    0% {
        background-color: hsl(0, 21%, 12%);
    }

    20% {
        background-color: hsl(135, 21%, 12%);
    }

    50% {
        background-color: hsl(135, 21%, 12%);
    }

    70% {
        background-color: hsl(0, 21%, 12%);
    }

    100% {
        background-color: hsl(0, 21%, 12%);
    }

}

@keyframes show-warnings {

    0% {
        opacity: 0;
    }

    0.2% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }

}
